SQLAlchemy==1.4.31
click==8.0.3
Flask==2.0.2
Flask-WTF==1.0.0
Flask-SQLAlchemy==2.5.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
psycopg2-binary==2.9.2
six==1.16.0
Werkzeug==2.0.2
redis==4.1.0
celery==5.2.3
captcha==0.3